[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[alias]
	cm = commit -m
	co = checkout
	cob = checkout -b
	br = branch
	st = status -s
	pr = pull --rebase
	hist = log --oneline -10
	amend = commit --amend
	edit = commit --amend --no-edit
	uncommit = reset --soft HEAD^
	pushoc = !git push origin $(git rev-parse --abbrev-ref HEAD)
